    <footer class="page-footer bg-light">
        <div>
            <div>
                <h5 id="fonteRodape" class="d-flex justify-content-center mt-2">Entre em contato:</h5>
            </div>
            <div class="d-flex justify-content-center">
                <div>
                    <a href="https://github.com/CezarPalomino" target="blank"><i class="fa fa-github p-1" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/cezar-palomino/" target="blank"><i class="fa fa-linkedin-square p-1" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/crcastt/" target="blank"><i class="fa fa-instagram p-1" aria-hidden="true"></i></a>
                </div>
            </div>
            <div id="fonteRodape" class="d-flex justify-content-center mt-2">
                <p>Feito por: Cezar Palomino&copy;</p>
            </div>
        </div>
    </footer>