#img-bg {
    background-image: url();
    height: 100vh; /* pega o tamanho da tela toda no height */
    background-repeat: no-repeat; /* n repete pra caber em toda a tela*/
    background-size: contain; /* ficará contida no meio */
    background-position: center;
}