<nav class="navbar navbar-expand-lg navbar-light" id="navb">
    
    <img src="https://github.com/CezarPalomino.png" alt="Minha Foto" class="img-fluid rounded" width="50">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
        <h4 style="color:white;" class="p-2">Olá, Cezar Palomino</h4>
        <a href=""><i class="fa fa-pencil-square-o p-2" aria-hidden="true"></i></a>

    </div>
    <a href=""><i id="sair" class="fa fa-sign-out p-2" aria-hidden="true">Sair</i></a>
  </nav>